from bunq.sdk.context.api_environment_type import ApiEnvironmentType
import os
import pytz

# On a new deployment (whether production or development) make
# a copy of this file called 'config.py' and change 'False' for
# SECRET_KEY to a newly generated string using these python commands:
# $ import os
# $ os.urandom(32)

basedir = os.path.abspath(os.path.dirname(__file__))


class Config(object):
    with open('docker/secrets-db-name.txt') as IN:
        DB_NAME = IN.readline().strip()
    with open('docker/secrets-db-user.txt') as IN:
        DB_USER = IN.readline().strip()
    with open('docker/secrets-db-password.txt') as IN:
        DB_PASSWORD = IN.readline().strip()

    SECRET_KEY = False
    # The server name is also used as the oAuth Redirect URL
    # Please note to set your server name in nginx too, see docker/nginx[-dev]/conf.d/default.conf
    SERVER_NAME = 'openpoen.nl'
    WEBSITE_NAME = 'Open Poen'
    PREFERRED_URL_SCHEME = 'https'
    FORCE_HOST_FOR_REDIRECTS = 'openpoen.nl'
    USE_SESSION_FOR_NEXT = True
    UPLOAD_FOLDER = 'upload'
    # Uploads can be 20MB max
    MAX_CONTENT_LENGTH = 20 * 1024 * 1024

    # Set to True and add a background.jpg to app/assets/images to use that as
    # background on the homepage
    BACKGROUND = False

    # Open Poen can be configured to use square (True) or rounded borders (False)
    USE_SQUARE_BORDERS = False

    # Tagline one the homepage; leave empty if you don't want to show a tagline
    # (e.g. Friesland has the tagline combined in the logo, so we don't show
    # the tagline seperately)
    TAGLINE = '<h5>ZÓ <span class="text-red">WORDT ONS</span> <span class="text-blue">GELD BESTEED</span></h5>'

    # (Contact) info to display in the footer
    FOOTER = ''

    BABEL_DEFAULT_LOCALE = 'nl'
    TZ = pytz.timezone('Europe/Amsterdam')

    SQLALCHEMY_DATABASE_URI = 'postgresql://%s:%s@db:5432/%s' % (
        DB_USER, DB_PASSWORD, DB_NAME
    )
    SQLALCHEMY_TRACK_MODIFICATIONS = False

    MAIL_SERVER = ''
    MAIL_PORT = ''
    MAIL_USE_TLS = True
    MAIL_USERNAME = ''
    MAIL_PASSWORD = ''
    FROM = ''
    ADMINS = ['']

    BUNQ_ENVIRONMENT_TYPE = ApiEnvironmentType.PRODUCTION
    BUNQ_CLIENT_ID = ''
    BUNQ_CLIENT_SECRET = ''
