.navbar {
  height: 120px;
  padding: 0 100px;

  .logo {
    height: 59px;
  }

  .navbar-toggler {
    background-color: $grey-blue;
    padding: 10px 44px;
    border-radius: 20px;
  }

  .fa-bars {
    width: 10px;
    padding-top: 7px;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: 74px;
    padding: 0;

    .navbar-toggler {
      padding: 5px 9px;
    }
  }
}
