.index-lead {
  padding-top: 60px;
}

.index-lead-logo {
  max-height: 330px;
}

.bunq-connect-button {
  width: 200px;
}

.border-r {
  border-right: 1px solid $text-color-main;
}

.border-l {
  border-left: 1px solid $text-color-main;
}

.index-hr-top {
  margin-top: 26px;
  margin-bottom: 54px;
}

.totaal {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .index-lead {
    padding-top: 20px;
  }

  .index-hr-top {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .index-lead-logo {
    height: 170px;
  }
}
