.search {
  margin: 0 !important;

  input {
    background-color: $grey-blue;
    color: $text-color-main;
    height: 44px;
    border: none;
    border-radius: 22px;
  }
}

.payment-table {
  color: $text-color-main;
  border-collapse: separate;
  border-spacing: 0 26px;

  thead th {
    border: none;
    border-top: 1px solid $text-color-main;
    font-weight: normal;
  }

  .manual-payment {
    background-color: #A4BCEF4D;
  }

  td {
    border: solid 1px #F5F5F5;
    border-style: solid none;
    padding: 8px 0;

    .cell {
      border-right: solid 1px lighten($blue, 30%);
      height: 54px;
      display: flex;
      align-items: center;
      padding: 0 8px;

      &.last-cell {
        border-right: none;
      }
    }
  }

  .detail-view td,
  td:first-child + td:not([style*='display: none']) {
    border-left-style: solid;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
  }

  .detail-view td {
    border-right-style: solid;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
  }

  .detail-row {
    padding: 20px;
  }
}

.attachment-div {
  padding-bottom: 15px;
}

.attachment {
  object-fit: cover;
  border-radius: 35px;
}

@media (max-width: 767px) {
  .attachment {
    border-radius: 20px;
  }
}

.bootstrap-table .fixed-table-toolbar .columns {
  margin: 0;
  padding: 3px 10px;
}

.bootstrap-table .fixed-table-toolbar .bs-bars {
  margin-top: 0;
}
