Beste mevrouw of meneer,
<br>
<br>
<br>
U heeft op <a href="https://fryslan.openpoen.nl" target="_blank" rel="noopener">fryslan.openpoen.nl</a> gevraagd om uw wachtwoord te veranderen. Heeft u niet gevraagd om uw wachtwoord te veranderen dan kunt u deze e-mail negeren. Wilt u wel uw wachtwoord voor openpoen.nl veranderen dan kunt u <a href="{{ url_for('reset_wachtwoord', token=token, _external=True) }}" target="_blank" rel="noopener">op deze link klikken</a>.
<br>
<br>
U kunt ook de volgende pagina bezoeken om uw wachtwoord te veranderen:
<br>
{{ url_for('reset_wachtwoord', token=token, _external=True) }}
<br>
<br>
Deze pagina komt over 24 uur te vervallen, mocht u uw wachtwoord daarna alsnog willen aanpassen <a href="{{ url_for('reset_wachtwoord_verzoek', _external=True) }}" target="_blank" rel="noopener">vraag dan opnieuw een nieuw wachtwoord aan</a>.
<br>
<br>
<br>
Met vriendelijke groet,
<br>
fryslan.openpoen.nl
