body {
  font-family: $font-family-lexend;
  font-size: 13px;
  line-height: 21px;
  color: $blue-dark;
  word-wrap: break-word;

  article {
    background-color: white;
  }
}

.p-details {
  line-height: 16px;
}

h1 {
  font-size: 26px;
  line-height: 26px;
  margin: 0;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

.h3-details {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 16px;
  text-transform: uppercase;
}

h4 {
  font-family: $font-family-dosis;
  font-size: 80px;
  line-height: 80px;
  margin: 0;
}

h5 {
  font-family: $font-family-dosis;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

h6 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}

hr {
  background-color: $blue-dark;
  border-color: $blue-dark;
  color: $blue-dark;
}

.text-blue-dark {
  color: $blue-dark;
}

.text-blue {
  color: $blue;
}

.text-blue-light {
  color: $blue-light;
}

.text-red {
  color: $red;
}

.text-green {
  color: $green;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: $blue;
}

.bg-blue-light {
  background-color: $blue-light;
}

.bg-green-light {
  background-color: $green-light;
}

.bg-grey {
  background-color: $grey;
}

.bg-grey-light {
  background-color: $grey-light;
}

.bg-grey-blue {
  background-color: $grey-blue;
}

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flashed-messages {
  padding: 0;
  border: 2px solid $blue;
  background-color: white;

  ul {
    margin-top: 16px;
  }
}

.poen-breadcrumb {
  padding-top: 15px;
  padding-bottom: 16px;

  color: white;

  a {
    color: white;
  }
}

.poen-lead {
  height: 510px;
  border-bottom-left-radius: 115px;
  border-bottom-right-radius: 115px;
}

.poen-content {
  border-radius: 70px;
  top: -100px;
  padding: 26px 54px;
}

.lead-side-col {
  margin-bottom: 26px;
}

.amounts-card {
  padding: 33px 20px 10px 20px;
  border-radius: 35px;
  min-height: 326px;
  margin-bottom: 26px;
}

.amounts-card-title {
  color: $blue-dark;

  a {
    color: $blue-dark;
  }

  h1 {
    margin-bottom: 40px;
  }
}

.amounts-half-card {
  padding: 33px 20px 10px 20px;
  border-radius: 35px;
  min-height: 150px;
  margin-bottom: 26px;
}

.card-small {
  margin-top: 26px;
  margin-bottom: 26px;
  border-radius: 35px;
  height: 184px;
  width: 184px;
}

.card-small-list {
  list-style: none;
  padding: 10px;
}

@media (max-width: 1199px) {
  .poen-lead {
    height: 420px;

    &.project-lead {
      height: 510px;
    }
  }
}

@media (max-width: 991px) {
  .poen-lead {
    height: 280px;

    &.project-lead {
      min-height: 680px;
    }
  }

  .poen-content {
    border-radius: 13px;
    top: 0;
    padding: 20px 15px;
  }

  .amounts-card {
    padding-top: 20px;
    min-height: 246px;
  }

  .amounts-half-card {
    padding-top: 20px;
    min-height: 110px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 11px;
    line-height: 18px;
  }

  h1 {
    font-size: 16px;
    line-height: 16px;
  }

  h2 {
    font-size: 13px;
    line-height: 13px;
  }

  h3 {
    font-size: 15px;
    line-height: 20px;
  }

  .h3-details {
    font-size: 10px;
    line-height: 10px;
  }

  h4 {
    font-size: 30px;
    line-height: 30px;
  }

  h5 {
    font-size: 25px;
    line-height: 25px;
  }

  h6 {
    font-size: 16px;
    line-height: 16px;
  }

  .poen-lead {
    height: 330px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }

  .card-small {
    width: 100%;
  }
}
