// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Colors
$text-color-main: #244994;
$blue: #1d60aa;
$blue-light: #009bdf;

// 'green' is red in Fryslan theme
$green-dark: #91002d;
$green: #aa0063;
$green-light: lighten(#c73326, 50%);

$red: #c73326;

$grey: #e9eef1;
$grey-light: #f0f3f5;
$grey-blue: #e9effb;

// Typography
$font-family-lexend: 'Lexend Deca', sans-serif;
$font-family-dosis: 'Dosis', sans-serif;
