// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Colors
$blue-dark: #000059;
$blue: #265ed4;
$blue-light: #33c1ea;

$green-dark: #008786;
$green: #4dabab;
$green-light: #a6d5d5;

$red: #b82466;

$grey: #e9eef1;
$grey-light: #f0f3f5;

// Typography
$font-family-lexend: 'Lexend Deca', sans-serif;
$font-family-dosis: 'Dosis', sans-serif;
