<!-- Modal -->
<div class="modal fade" id="transactie-bewerken-{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="transactieBewerkenLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="transactieBewerkenLabel">Transactie Bewerken</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            {{ payment_forms[payment.id].csrf_token }}

            {% for f in payment_forms[payment.id] %}
              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                {% if not f.name == 'hidden' or project_owner %}
                  <div>
                    {{ f.label }}
                    <br>
                    {{ f }}
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
            {{ payment_forms[payment.id].id }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
          {{ payment_forms[payment.id].submit }}
        </div>
      </form>
    </div>
  </div>
</div>
