<!doctype html>
<head lang="nl">
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Open Poen</title>
  <meta name="description" content="Zó wordt ons geld besteed">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Open Poen">
  <meta name="application-name" content="Open Poen">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:url" content="{{ request.url }}" />
  <meta property="og:title" content="Open Poen" />
  <meta property="og:image" content="{{ url_for('static', filename='images/logo-og.png', _external=True) }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32274817-20"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-32274817-20', { 'anonymize_ip': true });
  </script>

  <!-- H1ML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% endblock %}
</head>
{% block body %}
<body class="bg-grey{% if use_square_borders %} use-square-borders{% endif %}">
{% endblock %}
  <header class="bg-white">
    <nav class="navbar navbar-fixed-top my-auto">
      <div class="col-4">
        {% if current_user.is_authenticated %}
          <a class="text-color-main" href="{{ url_for('profile', user_id=current_user.id)}}">
            <h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
          </a>
        {% endif %}
      </div>

      <a class="navbar-brand abs-center-x" href="/">
        <img class="logo img-fluid" src="{{ url_for('static', filename='images/Open-Poen-Logo.svg') }}" alt="Open Poen logo">
      </a>

      <div class="col-4 text-right">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Open of sluit navigatiemenu">
          <h3 class="d-inline">menu </h3><i class="my-bottom fas fa-bars"></i>
        </button>
      </div>
    </nav>

    <div id="navbar" class="collapse navbar-collapse">
      {% set menu = [
          (url_for('index'), 'Home'),
          (url_for('over'), 'Over'),
          (url_for('meest_gestelde_vragen'), 'Meest gestelde vragen')
      ] %}

      {% if current_user.is_authenticated %}
        {{ menu.append((url_for('profile', user_id=current_user.id), 'Profiel'))|default("", True) }}
        {{ menu.append((url_for('logout'), 'Uitloggen'))|default("", True) }}
      {% else %}
        {{ menu.append((url_for('login'), 'Inloggen'))|default("", True) }}
      {% endif %}

      <ul class="navbar-nav">
        {% for page, name in menu %}
          <li {% if name == active_page %} class="nav-item active"{% endif%}>
            <a class="nav-link" href="{{ page }}">{{ name }}{% if page == active_page %}<span class="sr-only">(huidige pagina)</span>{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </header>

  <article class="bg-grey">
    {% include 'flashed-messages.html' %}
    {% block content %}
    {% endblock %}
  </article>

  <footer>
    <div class="text-center">
      <p>
        {{ footer|safe }}
      </p>
      <a href="/">
        <img class="logo-footer img-fluid" src="{{ url_for('static', filename='images/Open-Poen-Logo.svg') }}" alt="Open Poen logo">
      </a>
    </div>
  </footer>

  {% block scripts %}
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  {% endblock %}
</body>
