{% extends "base.html" %}
{% block head %}
  <title>Open Poen - Dashboard</title>
  <meta property="og:title" content="Open Poen - Dashboard" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div>
    > Dashboard
  </div>

  <h1>Hi {{ user.first_name }}</h1>

  <div class="row">
    <div class="col-12">
      {% if user.admin %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#project-toevoegen">
          Project toevoegen
        </button>

        <!-- Modal -->
        <div class="modal fade" id="project-toevoegen" tabindex="-1" role="dialog" aria-labelledby="projectToevoegenLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST" action="">
                <div class="modal-header">
                  <h5 class="modal-title" id="projectToevoegenLabel">Project Toevoegen</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    {{ new_project_form.csrf_token }}

                    {% for f in new_project_form %}
                      {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                        <div>
                          {{ f.label.text }}
                          <br>
                          {{ f }}
                          {% for error in f.errors %}
                            <span style="color: red;">- {{ error }}</span>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  {{ new_project_form.submit }}
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    {% for project in projects %}
      <div class="col-12 col-md-4">
        {% if project['already_authorized'] %}
        <p>Er is al een Bunq account gekoppeld aan project <b>{{ project['name'] }}</b><p>
        {% else %}
          {% for project_name, project_amounts in project['amounts'].items() %}
            <p>{{ project_name }}</p>
            <p>resterend: {{ project_amounts.left_str }}</p>
            <p>uitgegeven: {{ project_amounts.spent_str }}</p>
            <p>totaal: {{ project_amounts.awarded_str }}</p>
            <p>percentage: {{ project_amounts.percentage_spent_str }}</p>
          {% endfor %}
          <p>
          Koppel een Bunq account aan project <b>{{ project.name }}</b>: <a href="{{ base_url_auth }}/auth?response_type=code&client_id={{ bunq_client_id }}&redirect_uri=https://openpoen.nl/dashboard&state={{ project.bunq_token }}" rel="noopener"><img class="bunq-connect-button" src="/static/dist/images/bunq_Connect_button_svg.svg"></a>
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
