{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Open Poen - Dashboard" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div>
    > Dashboard
  </div>

  <h1 class="title-pad">{{ user.name }}</h1>
  {% for owned_project in owned_projects %}
    {% if owned_project['already_authorized'] %}
    <p>Er is al een Bunq account gekoppeld aan project <b>{{ owned_project['name'] }}</b><p>
    {% else %}
      <p>
        <a href="https://oauth.sandbox.bunq.com/auth?response_type=code&client_id={{ bunq_client_id }}&redirect_uri=https://openpoen.nl/dashboard&state={{ owned_project.bunq_token }}" rel="noopener">Koppel een Bunq account aan project <b>{{ owned_project.name }}</b></a>
      </p>
    {% endif %}
  {% endfor %}
{% endblock %}
