{% extends "base.html" %}
{% set active_page = "index" %}
{% block head %}
  <title>Open Poen</title>
  <meta property="og:title" content="Open Poen" />
  {{ super() }}
{% endblock %}

{% block body %}
  <body class="bg-grey home">
{% endblock %}

{% block content %}
  <div class="container index-lead bg-grey-light">
    <div class="row">
      <div class="col-12 col-md-6 header-logo text-center">
        <img class="index-lead-logo-index img-fluid" src="{{ url_for('static', filename='images/Open-Poen-Logo-2.svg') }}" alt="Open Poen logo">
      </div>
      <div class="col-12 col-md-6 my-auto text-center text-md-left">
        <h5>ZÓ <span class="text-red">WORDT ONS</span> <span class="text-blue">GELD BESTEED</span></h5>
        <br>
        <button class="btn poen-button bg-white"><h2>bekijk hoe het werkt ></h2></button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 content bg-white">
        <div class="row">
          <div class="col-4 border-r">
            <h4>€ {{ total_spent_str }}</h3>
            <h2>totaal uitgegeven</h2>
          </div>
          <div class="col-4 text-center">
            <h4 class="text-red">{{ project_data|length }}</h4>
            {% if project_data|length == 1 %}
              <h2>buurtproject</h2>
            {% else %}
              <h2>buurtprojecten</h2>
            {% endif %}
          </div>
          <div class="col-4 text-right border-l">
            <h4 class="text-blue-light">€ {{ total_awarded_str }}</h4>
            <h2>totaal toegekend</h2>
          </div>

          <hr>
          <br>
        </div>

        <hr class="index-hr-top">

        <div class="row">
          {% if user.admin %}
            <div class="col-12 col-md-6 col-xxl-4">
              <!-- Button trigger modal -->
              <button type="button" class="btn index-project w-100 bg-green-light text-white" data-toggle="modal" data-target="#project-toevoegen">
                <h1>Project toevoegen</h1>
                <br>
                <br>
                <br>
                <h5>+</h5>
              </button>

              <!-- Modal -->
              <div class="modal fade" id="project-toevoegen" tabindex="-1" role="dialog" aria-labelledby="projectToevoegenLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <form method="POST" action="">
                      <div class="modal-header">
                        <h5 class="modal-title" id="projectToevoegenLabel">Project Toevoegen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          {{ project_form.csrf_token }}

                          {% for f in project_form %}
                            {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' and f.label.text != 'IBAN' %}
                              <div>
                                {{ f.label }}
                                <br>
                                {{ f }}
                                {% for error in f.errors %}
                                  <span style="color: red;">- {{ error }}</span>
                                {% endfor %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                        {{ project_form.submit }}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if project_data %}
            {% for project in project_data %}
              {% if True %}
                <div class="col-12 col-md-6 col-xxl-4">
                  <div class="index-project bg-green-light">
                    {% if project.hidden %}
                      <p><i>Dit project is verborgen en dus niet te zien door het publiek</i><p>
                    {% endif %}
                    <div class="amounts-card-title">
                      <a href="{{ url_for('project', project_id=project.id) }}">
                        <h1 class="text-center">{{ project.name }}</h1>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col-4 text-right">
                        <h3 class="text-blue">resterend</h3>
                        <h2>{{ project.amounts.left_str }}</h2>
                      </div>
                      <div class="col-4 text-center">
                        <h2>{{ project.amounts.percentage_spent_str }}</h2>
                      </div>
                      <div class="col-4">
                        <h3 class="text-red">uitgegeven</h3>
                        <h2>{{ project.amounts.spent_str }}</h2>
                      </div>
                    </div>
                    <h2 class="text-center totaal">totaal {{ project.amounts.awarded_str }}</h2>

                    {% if project.project_owner %}
                      <div class="text-center">
                        {% if project['already_authorized'] and project['iban'] %}
                        <p>Rekening {{ project['iban'] }} -  {{ project['iban_name'] }} ({{ project['bank_name'] }}) is gekoppeld aan dit project<p>
                        {% elif project['already_authorized'] and not project['iban'] %}
                        <p><i>Er is een {{project['bank_name']}} account gekoppeld aan dit project, maar er is nog geen IBAN geselecteerd. Bewerk dit project en selecteer de IBAN die bij dit project hoort.</i></p>
                        {% else %}
                          <p>
                          Koppel een Bunq account aan project <b>{{ project.name }}</b>:
                          <br>
                          <a href="{{ base_url_auth }}/auth?response_type=code&client_id={{ bunq_client_id }}&redirect_uri=https://openpoen.nl/&state={{ project.bunq_token }}" rel="noopener"><img class="bunq-connect-button" src="{{ url_for('static', filename='images/bunq_Connect_button_svg.svg') }}"></a>
                          </p>
                        {% endif %}

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#project-bewerken-{{ project['id'] }}">
                          Project bewerken
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="project-bewerken-{{ project['id'] }}" tabindex="-1" role="dialog" aria-labelledby="projectbewerkenLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <form method="POST" action="">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="projectBewerkenLabel">Project Bewerken</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body text-left">
                                  <div>
                                    {{ project['form'].csrf_token }}

                                    {% for f in project['form'] %}
                                      {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                        <div>
                                          {{ f.label }}
                                          <br>
                                          {{ f }}
                                          {% for error in f.errors %}
                                            <span style="color: red;">- {{ error }}</span>
                                          {% endfor %}
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                    Heeft u nieuwe IBANs toegevoegd aan dit project en kunt u deze hierboven nog niet selecteren? Koppel dit project dan opnieuw aan de Bunq account om zo toestemming tot de nieuwe IBANs te krijgen.
                                    <a href="{{ base_url_auth }}/auth?response_type=code&client_id={{ bunq_client_id }}&redirect_uri=https://openpoen.nl/&state={{ project.bunq_token }}" rel="noopener"><img class="bunq-connect-button" src="{{ url_for('static', filename='images/bunq_Connect_button_svg.svg') }}"></a>
                                    {{ project['form'].id }}
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                  <!-- Button trigger modal -->
                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#project-verwijder-{{ project['id'] }}">
                                    Verwijderen
                                  </button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="project-verwijder-{{ project['id'] }}" tabindex="-1" role="dialog" aria-labelledby="projectVerwijderLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <form method="POST" action="">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="projectVerwijderLabel">Project Verwijderen</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <div>
                                              <p>Weet u zeker dat u project "<b>{{ project['name'] }}</b>" wilt verwijderen? Hiermee worden alle transacties van de bijbehorende bankrekening en de door de gebruikers toegevoegde beschrijvingen en plaatjes uit de database van Open Poen verwijderd! Ook worden alle subprojecten die onder dit project vallen verwijderd! Als u een project niet wilt tonen aan het publiek kunt u het project ook 'verbergen' in plaats van verwijderen.</p>
                                            </div>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                            {{ project['form'].remove }}
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>

                                  {{ project['form'].submit }}
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

          {% if user_stories %}
            <br>
            <hr>
            <br>
            <b>de mensen over open poen</b>
            {% for user_story in user_stories %}
              <p>{{ user_story.name }}</p>
              <p>{{ user_story.title }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
