{% extends "base.html" %}
{% set active_page = "Home" %}
{% block head %}
  <title>Open Poen</title>
  <meta property="og:title" content="Open Poen Fryslân" />
  {{ super() }}
{% endblock %}

{% block body %}
  <body class="bg-grey home">
{% endblock %}

{% block content %}
  <div class="container poen-lead {% if background %}background{% endif %} index-lead bg-grey-light">
    <div class="row">
      <div class="col-12 col-md-6 header-logo text-center">
        <img class="index-lead-logo img-fluid" src="{{ url_for('static', filename='images/Open-Poen-Logo-2.svg') }}" alt="Open Poen logo">
      </div>
      <div class="col-12 col-md-6 my-auto text-center text-md-left">
        {% if tagline %}{{ tagline|safe }}{% endif %}
        <br>
        <button type="button" class="btn button-poen bg-white"><h2><a href="{{ url_for('meest_gestelde_vragen') }}">bekijk hoe het werkt ></a></h2></button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 poen-content bg-white">
        <div class="row">
          <div class="col-4 border-r small-gutter-right">
            <h4>
              €
              {% if project_data|length > 0 %}
              {{ total_spent_str }}
              {% else %}
              0
              {% endif %}
            </h4>
            <h2>totaal uitgegeven</h2>
          </div>
          <div class="col-4 text-center small-gutter">
            <h4 class="text-red">{{ project_data|length }}</h4>
            {% if project_data|length == 1 %}
              <h2>buurtproject</h2>
            {% else %}
              <h2>buurtprojecten</h2>
            {% endif %}
          </div>
          <div class="col-4 text-right border-l small-gutter-left">
            <h4 class="text-blue-light">
              €
              {% if project_data|length > 0 %}
              {{ total_awarded_str }}
              {% else %}
              0
              {% endif %}
            </h4>
            <h2>totaal toegekend</h2>
          </div>

          <hr>
          <br>
        </div>

        <hr class="index-hr-top">

        <div class="row">
          {% if current_user.admin %}
            <div class="col-12 col-md-6 col-xxl-4">
              <div class="row">
                <div class="col-12">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn amounts-half-card w-100 bg-green-light" data-toggle="modal" data-target="#admins-beheren">
                    <h1>admins beheren</h1>
                    <h5>+</h5>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="admins-beheren" tabindex="-1" role="dialog" aria-labelledby="adminsBeherenLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="adminsBeherenLabel">Admins Beheren</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal" data-target="#admin-toevoegen">
                              admin toevoegen
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="admin-toevoegen" tabindex="-1" role="dialog" aria-labelledby="adminToevoegenLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <form method="POST">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="adminToevoegenLabel">Admin Toevoegen</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>Als er nog geen gebruiker bestaat met dit e-mailadres dan krijgt deze een uitnodigingsmail met daarin een link om een wachtwoord aan te maken. Als er wel al een gebruiker bestaat met dit e-mailadres dan krijgt deze gebruiker admin-rechten (er wordt daar geen e-mail over verstuurd).</p>
                                      <div>
                                        {{ add_user_form.csrf_token }}

                                        {{ add_user_form.email }}
                                        {{ add_user_form.admin(**{'value': 1}) }}
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                      {{ add_user_form.submit }}
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>

                            <hr>

                            {% for admin_email, edit_admin_form in edit_admin_forms.items() %}
                              <div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal" data-target="#admin-bewerken-{{ edit_admin_form.id.data }}">
                                  admin bewerken
                                </button>
                                {{ admin_email }}

                                <!-- Modal -->
                                <div class="modal fade" id="admin-bewerken-{{ edit_admin_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="adminBewerkenLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <form method="POST">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="adminBewerkenLabel">Admin Bewerken</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div>
                                            {{ edit_admin_form.csrf_token }}

                                            {% for f in edit_admin_form %}
                                              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                                <div>
                                                  {{ f }}
                                                  {{ f.label }}
                                                </div>
                                              {% endif %}
                                            {% endfor %}
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                          {{ edit_admin_form.id }}
                                          {{ edit_admin_form.submit }}
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br>
                            {% endfor %}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn amounts-half-card w-100 bg-green-light" data-toggle="modal" data-target="#project-toevoegen">
                    <h1>project toevoegen</h1>
                    <h5>+</h5>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="project-toevoegen" tabindex="-1" role="dialog" aria-labelledby="projectToevoegenLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <form method="POST">
                          <div class="modal-header">
                            <h5 class="modal-title" id="projectToevoegenLabel">Project Toevoegen</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div>
                              {{ project_form.csrf_token }}

                              {% for f in project_form %}
                                {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' and f.label.text != 'IBAN' %}
                                  <div>
                                    {{ f.label }}
                                    <br>
                                    {{ f }}
                                    <br>
                                    <br>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                            {{ project_form.submit }}
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if project_data %}
            {% for project in project_data %}
              <div class="col-12 col-md-6 col-xxl-4">
                <a class="card-button" role="button" href="{{ url_for('project', project_id=project.id) }}">
                  <div class="amounts-card bg-green-light">
                    {% if project.hidden %}
                      <p><i>Dit project is verborgen en dus niet te zien door het publiek</i><p>
                    {% endif %}
                    <div class="amounts-card-title">
                      <h1 class="text-center">{{ project.name }}</h1>
                    </div>
                    <div class="row">
                      <div class="col-4 text-right small-gutter">
                        <h3 class="text-blue">resterend</h3>
                        <h2>{{ project.amounts.left_str }}</h2>
                      </div>
                      <div class="col-4 text-center">
                        <h2>{{ project.amounts.percentage_spent_str }}</h2>
                      </div>
                      <div class="col-4 small-gutter">
                        <h3 class="text-red">uitgegeven</h3>
                        <h2>{{ project.amounts.spent_str }}</h2>
                      </div>
                    </div>
                    {% if project.budget %}
                      <h3 class="text-center totaal">totaal {{ project.budget }}</h3>
                      <p class="text-center">banksaldo {{ project.amounts.awarded_str }}</p>
                    {% else %}
                      <h3 class="text-center totaal">totaal {{ project.amounts.awarded_str }}</h3>
                    {% endif %}
                  </div>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </div>

          {% if user_stories %}
            <br>
            <hr>
            <br>
            <b>de mensen over open poen</b>
            {% for user_story in user_stories %}
              <p>{{ user_story.name }}</p>
              <p>{{ user_story.title }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
