{% extends "base.html" %}
{% block head %}
  <title>Open Poen - Over</title>
  <meta property="og:title" content="Open Poen - Over" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 over-content bg-white">
        <p>OPEN POEN geeft realtime inzicht in hoe geld besteed wordt.</p>

        <p>Gemeente Amsterdam ontwikkelt samen met Open State Foundation een prototype (bètaversie 1.a) van een platform dat in 2020 beschikbaar komt voor experimenten met (bewoners)initiatieven. Het doel hiervan is om het aanvragen, besteden en verantwoorden van overheidsmiddelen eenvoudiger te maken.</p>

        <p>Voor vragen en opmerkingen over de techniek en toepassing kunt u contact opnemen met Jaap Koen Bijma, medewerker van het CTO innovatieteam. <a href=mailto:J.bijma@amsterdam.nl>J.bijma@amsterdam.nl</a> / 0642248555</p>

        <p>Namens Gemeente Amsterdam,</p>

        <p>
          Ger Baron
          <br>
          Chief Technology Officer
        </p>
      </div>
    </div>
  </div>
{% endblock %}
