{% extends "base.html" %}
{% block head %}
  <title>Open Poen - Over</title>
  <meta property="og:title" content="Open Poen - Over" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 over-content bg-white">
        <p>CORONA.OPENPOEN.NL (OPEN POEN bètaversie 1.b)</P

        <p>OPEN POEN geeft realtime inzicht in hoe geld besteed wordt.</p>

        <p>Gemeente Amsterdam ontwikkelt samen met Open State Foundation een prototype (bètaversie 1.a) van een platform dat in 2020 beschikbaar komt voor experimenten met (bewoners)initiatieven. Het doel hiervan is om het aanvragen, besteden en verantwoorden van overheidsmiddelen eenvoudiger te maken. Om het prototype al tijdens de coronacrisis te kunnen inzetten, hebben we het aangepast voor gebruik bij de uitvoering van noodplannen (bètaversie 1.b).</p>

        <p>Gemeente Amsterdam maakt tijdens de coronacrisis geld beschikbaar voor verschillende noodplannen. Een deel van deze middelen wordt via CORONA.OPENPOEN.NL besteed. Hierdoor ontstaat een realtime financieel inzicht voor alle betrokkenen bij de uitvoering van de noodplannen. Dit is des te belangrijker omdat er tijdens de coronacrisis veelal vanuit een thuiswerkomgeving wordt samengewerkt.</p>

        <p>Door de urgentie van noodplannen mag er in enkele gevallen worden afgeweken van reguliere inkoop- en aanbestedingsregels voor producten en diensten. Hierdoor kan de gemeente de noodplannen sneller uitvoeren. Tegelijkertijd willen we een balans tot stand brengen tussen o.a. de maatschappelijke waarde van deze noodplannen én de prijs die we betalen voor de ingekochte diensten en producten. Door CORONA.OPENPOEN.NL in te zetten laten we publiekelijk zien hoe we het geld besteden en met welke organisaties we samenwerken binnen de noodplannen. Hierbij wordt inzichtelijk bij wie en tegen welke prijzen we diensten en producten hebben ingekocht, terwijl we met snelheid de noodplannen uitvoeren. De vooronderstelling is dat hierdoor een betere balans tussen waarde en prijs kan ontstaan.</p>

        <p>CORONA.OPENPOEN.NL is een experiment waarmee we de werking van dit prototype in de praktijk brengen. We zoeken naar inzichten die ons helpen om de gemeentelijke dienstverlening verder te ontwikkelen. U kunt ons helpen door op kritische wijze mee te denken.</P
    
        <p>Voor vragen en opmerkingen over de techniek en toepassing kunt u contact opnemen met Jaap Koen Bijma, medewerker van het CTO innovatieteam. <a href=mailto:J.bijma@amsterdam.nl>J.bijma@amsterdam.nl</a> / 0642248555</p>

        <p>Namens Gemeente Amsterdam,</p>

        <p>
          Ger Baron
          <br>
          Chief Technology Officer
        </p>
      </div>
    </div>
  </div>
{% endblock %}
