{% extends "base.html" %}
{% block head %}
  <title>Open Poen - {{ project.name }}</title>
  <meta property="og:title" content="Open Poen - {{ project.name }}" />
  {{ super() }}
{% endblock %}

{% block body %}
  <body class="bg-grey project transaction{% if use_square_borders %} use-square-borders{% endif %}">
{% endblock %}

{% block content %}
  <div class="container poen-lead project-lead bg-blue">
    <div class="text-center poen-breadcrumb">
      <a href="/">Home</a> > {{ project.name }}
    </div>

    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="lead-side-col col-6 col-lg-3 col-xxl-4 order-6 order-lg-1 d-flex flex-column justify-content-between">
            {% if not project_data.hidden_sponsors %}
              <div class="button-poen-small bg-grey mx-auto">gesponsord door</div>

              <div class="card-small bg-white mx-auto d-flex">
                <ul class="card-small-list mx-auto my-auto">
                  {% for funder in project.funders %}
                    <li><a class="mx-auto my-auto" href="{{ funder.url }}" target="_blank" rel="noopener">{{ funder.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>

              {% if project_owner %}
                <!-- Button trigger modal -->
                <button type="button" class="btn button-poen-small bg-grey mx-auto" data-toggle="modal" data-target="#sponsoren-bewerken">
                  sponsoren bewerken >
                </button>

                <!-- Modal -->
                <div class="modal fade" id="sponsoren-bewerken" tabindex="-1" role="dialog" aria-labelledby="sponsorenBewerkenLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="sponsorenBewerkenLabel">Sponsoren Bewerken</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn button-poen-small bg-grey mx-auto" data-toggle="modal" data-target="#sponsor-toevoegen">
                          sponsor toevoegen
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="sponsor-toevoegen" tabindex="-1" role="dialog" aria-labelledby="sponsorToevoegenLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <form method="POST">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="sponsorToevoegenLabel">Sponsor Toevoegen</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div>
                                    {{ new_funder_form.csrf_token }}

                                    {% for f in new_funder_form %}
                                      {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                        <div>
                                          {{ f.label }}
                                          <br>
                                          {{ f }}
                                          <br>
                                          <br>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                  {{ new_funder_form.submit }}
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                        <hr>

                        {% for funder_form in funder_forms %}
                          <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn button-poen-small bg-grey mx-auto" data-toggle="modal" data-target="#sponsor-bewerken-{{ funder_form.id.data }}">
                              bewerken
                            </button>
                            {{ funder_form.name.data }}

                            <!-- Modal -->
                            <div class="modal fade" id="sponsor-bewerken-{{ funder_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="sponsorBewerkenLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <form method="POST">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="sponsortBewerkenLabel">Sponsor Bewerken</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div>
                                        {{ funder_form.csrf_token }}

                                        {% for f in funder_form %}
                                          {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                            <div>
                                              {{ f.label }}
                                              <br>
                                              {{ f }}
                                              <br>
                                              <br>
                                            </div>
                                          {% endif %}
                                        {% endfor %}
                                        {{ funder_form.id }}
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                      {{ funder_form.remove }}
                                      {{ funder_form.submit }}
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                        {% endfor %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="d-none d-lg-block button-poen-small-hidden bg-blue mx-auto"></div>
              {% endif %}
            {% endif %}
          </div>

          <div class="col-12 col-lg-6 col-xxl-4 order-1 order-lg-4">
            <div class="amounts-card bg-white">
              {% if project.hidden %}
                <p><i>Dit project is verborgen en dus niet te zien door het publiek</i><p>
              {% endif %}
              <div class="amounts-card-title">
                <h1 class="text-center">{{ project.name }}</h1>
              </div>
              <div class="row">
                <div class="col-4 text-right small-gutter">
                  <h3 class="text-blue">resterend</h3>
                  <h2>{{ amounts.left_str }}</h2>
                </div>
                <div class="col-4 text-center">
                  <h2>{{ amounts.percentage_spent_str }}</h2>
                </div>
                <div class="col-4 small-gutter">
                  <h3 class="text-red">uitgegeven</h3>
                  <h2>{{ amounts.spent_str }}</h2>
                </div>
              </div>
              {% if budget %}
                <h3 class="text-center totaal">totaal {{ budget }}</h3>
                <p class="text-center">banksaldo {{ amounts.awarded_str }}</p>
              {% else %}
                <h3 class="text-center totaal">totaal {{ amounts.awarded_str }}</h3>
              {% endif %}

                  {% if project_owner %}
                    <div class="text-center">
                      {% if project_data['already_authorized'] and project_data['iban'] %}
                      <p>Rekening {{ project_data['iban'] }} - {{ project_data['iban_name'] }} ({{ project_data['bank_name'] }}) is gekoppeld aan dit project</p>
                      {% elif project_data['already_authorized'] and not project_data['iban'] %}
                      <p><i>Er is een {{project_data['bank_name']}} account gekoppeld aan dit project, maar er is nog geen IBAN geselecteerd. Bewerk dit project en selecteer de IBAN die bij dit project hoort.</i></p>
                      {% else %}
                        <p>
                          Koppel een Bunq account aan project <b>{{ project_data.name }}</b>:
                          <br>
                          <a href="{{ base_url_auth }}/auth?response_type=code&client_id={{ bunq_client_id }}&redirect_uri=https://{{ server_name }}/&state={{ project_data.bunq_token }}" rel="noopener"><img class="bunq-connect-button" src="{{ url_for('static', filename='images/bunq_Connect_button_svg.svg') }}"></a>
                        </p>
                      {% endif %}

                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#project-bewerken-{{ project_data['id'] }}">
                        project bewerken
                      </button>

                      <!-- Modal -->
                      <div class="modal fade text-black" id="project-bewerken-{{ project_data['id'] }}" tabindex="-1" role="dialog" aria-labelledby="projectBewerkenLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <form method="POST">
                              <div class="modal-header">
                                <h5 class="modal-title" id="projectBewerkenLabel">Project Bewerken</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body text-left">
                                <b>Project owners</b>
                                <br>
                                <br>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn button-poen-small bg-grey" data-toggle="modal" data-target="#project-owner-toevoegen-{{ project_data['id'] }}">
                                  project owner toevoegen
                                </button>

                                <br>
                                <br>

                                {% for project_owner_email, edit_project_owner_form in edit_project_owner_forms[project_data.id].items() %}
                                  <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn button-poen-small bg-grey" data-toggle="modal" data-target="#project-owner-bewerken-{{ edit_project_owner_form.id.data }}">
                                      project owner bewerken
                                    </button>
                                    {{ project_owner_email }}
                                  </div>
                                  <br>
                                {% endfor %}

                                <hr>

                                {% if not project_data['contains_subprojects'] %}
                                  <b>Categoriën</b>
                                  <br>
                                  <br>
                                  <!-- Button trigger modal -->
                                  <button type="button" class="btn button-poen-small bg-grey" data-toggle="modal" data-target="#categorie-toevoegen-{{ project_data.category_form.project_id.data }}">
                                    categorie toevoegen
                                  </button>
                                  <br>
                                  <br>

                                  {% for category_form in project_data.category_forms %}
                                    <!-- Button trigger modal -->
                                    <div>
                                      <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal" data-target="#categorie-bewerken-{{ category_form.id.data }}">
                                        categorie bewerken
                                      </button>
                                    {{ category_form.name.data }}
                                    </div>
                                    <br>
                                  {% endfor %}

                                  <hr>
                                {% endif %}

                                <b>Algemene projectinstellingen</b>
                                <br>
                                <br>

                                <div>
                                  {{ project_data['form'].csrf_token }}

                                  {% for f in project_data['form'] %}
                                    {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                      <div>
                                        {{ f.label }}
                                        <br>
                                        {{ f }}
                                        <br>
                                        <br>
                                      </div>
                                    {% endif %}
                                  {% endfor %}

                                  {% if project_data['contains_subprojects'] %}
                                  Dit project werkt <b>met</b> deelprojecten: alle uitgaven moeten vanaf Bunq sub-accounts gedaan worden.
                                  {% else %}
                                  Dit project werkt <b>zonder</b> deelprojecten: alle uitgaven moeten vanaf de aan dit project gekoppelde Bunq account gedaan worden.
                                  {% endif %}
                                </div>

                                <hr>

                                <div>
                                  Heeft u nieuwe IBANs toegevoegd aan dit project en kunt u deze hierboven nog niet selecteren? Koppel dit project dan opnieuw aan de Bunq account om zo toegang tot de nieuwe IBANs te krijgen.
                                  <a href="{{ base_url_auth }}/auth?response_type=code&client_id={{ bunq_client_id }}&redirect_uri=https://{{ server_name }}/&state={{ project_data.bunq_token }}" rel="noopener"><img class="bunq-connect-button" src="{{ url_for('static', filename='images/bunq_Connect_button_svg.svg') }}"></a>
                                  {{ project_data['form'].id }}
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#project-verwijder-{{ project_data['id'] }}">
                                  Verwijderen
                                </button>

                                {# Make sure this 'Opslaan' submit button is listed before the 'Verwijderen' submit button to make sure that hitting 'enter' defaults to the 'Opslaan' submit button #}
                                {{ project_data['form'].submit }}

                                <!-- Modal -->
                                <div class="modal fade" id="project-verwijder-{{ project_data['id'] }}" tabindex="-1" role="dialog" aria-labelledby="projectVerwijderLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <form method="POST">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="projectVerwijderLabel">Project Verwijderen</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div>
                                            <p>Weet u zeker dat u project "<b>{{ project_data['name'] }}</b>" wilt verwijderen? Hiermee worden alle transacties van de bijbehorende bankrekening en de door de gebruikers toegevoegde beschrijvingen en plaatjes uit de database van Open Poen verwijderd! Ook worden alle subprojecten die onder dit project vallen verwijderd! Als u een project niet wilt tonen aan het publiek kunt u het project ook 'verbergen' in plaats van verwijderen.</p>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                          {{ project_data['form'].remove }}
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
            </div>
          </div>

          <div class="lead-side-col col-6 col-lg-3 col-xxl-4 order-9 d-flex flex-column justify-content-between">
            {% if project.contains_subprojects %}
              <div class="button-poen-small bg-grey mx-auto">deelprojecten</div>

              <div class="card-small bg-white mx-auto d-flex">
                <ul class="card-small-list mx-auto my-auto">
                  {% for subproject in project.subprojects %}
                    {% if not subproject.hidden or (project_owner or subproject.id in user_subproject_ids) %}
                      <li><a href="{{ url_for('subproject', project_id=project.id, subproject_id=subproject.id) }}">{{ subproject.name }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>

              {% if project_owner %}
                <!-- Button trigger modal -->
                <button type="button" class="btn button-poen-small bg-grey mx-auto" data-toggle="modal" data-target="#subproject-toevoegen">
                  deelproject toevoegen >
                </button>

                <!-- Modal -->
                <div class="modal fade" id="subproject-toevoegen" tabindex="-1" role="dialog" aria-labelledby="subprojectToevoegenLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form method="POST">
                        <div class="modal-header">
                          <h5 class="modal-title" id="subprojectToevoegenLabel">Deelproject Toevoegen</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div>
                            {{ subproject_form.csrf_token }}

                            {% for f in subproject_form %}
                              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                <div>
                                  {{ f.label }}
                                  <br>
                                  {{ f }}
                                  <br>
                                  <br>
                                </div>
                              {% endif %}
                            {% endfor %}
                            {{ subproject_form.project_id }}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                          {{ subproject_form.submit }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="d-none d-lg-block button-poen-small-hidden bg-blue mx-auto"></div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 poen-content bg-white">
        <div class="row">
          <div class="col-12">
            <div id="toolbar">
              {% if project_owner %}
                <!-- Button trigger modal -->
                <button type="button" class="btn button-poen-small bg-grey-blue mx-auto" data-toggle="modal" data-target="#transactie-toevoegen">
                  + transactie
                </button>

                <!-- Modal -->
                <div class="modal fade" id="transactie-toevoegen" tabindex="-1" role="dialog" aria-labelledby="transactieToevoegenLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form method="POST">
                        <div class="modal-header">
                          <h5 class="modal-title" id="transactieToevoegenLabel">Transactie Toevoegen</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {{ new_payment_form.csrf_token }}

                          {% for f in new_payment_form %}
                            {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                              <div>
                                {{ f.label }}
                                <br>
                                {{ f }}
                                <br>
                                <br>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                          {{ new_payment_form.submit() }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <table class="payment-table" data-locale="nl-NL" data-toolbar="#toolbar" data-cookie="true" data-cookie-id-table="savePageProject" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-detail-formatter="detailFormatter" data-show-export="true" data-export-data-type="all" data-export-types="['csv', 'txt', 'json', 'xml', 'sql']" data-export-options='{"fileName": "{{ timestamp }}-{{ project.name | replace(' ', '_') }}"}'>
              <thead>
                <tr>
                  {# Hidden field required to make search work with the detailed view; NOTE: the id should always be the first column of the table #}
                  <th data-force-hide="true" class="d-none">id</th>
                  {% if project.contains_subprojects %}
                    <th data-sortable="true">deelproject</th>
                  {% endif %}
                  <th data-sortable="true" data-sorter="customSort">bedrag €</th>
                  <th data-sortable="true" class="d-none d-sm-table-cell">ontvanger</th>
                  <th data-sortable="true" class="d-none d-md-table-cell">betaald door</th>
                  <th data-sortable="true" class="d-none d-sm-table-cell">omschrijving</th>
                  <th data-sortable="true" class="d-none d-xl-table-cell">datum</th>
                  <th data-sortable="true" data-force-hide="true" class="d-none d-xl-table-cell">media</th>
                  <th data-force-hide="true">details</th>
                  {# The columns below are hidden, but need to be included to make their content exportable #}
                  <th class="d-none">betaalomschrijving</th>
                  <th class="d-none">lange omschrijving</th>
                  <th class="d-none">saldo na boeking €</th>
                  <th class="d-none">categorie</th>
                  {# Hidden column used to generate the detailed view #}
                  <th data-force-hide="true" class="d-none">detail-view</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in payments|sort(attribute='created', reverse=true) %}
                  {% if not payment.hidden or (project_owner or payment.subproject.id in user_subproject_ids) %}
                  <tr{% if payment.type == 'MANUAL' %} class="manual-payment"{% endif %}>
                    <td>
                      <div class="cell">
                        {{ payment.id }}
                      </div>
                    </td>
                    {% if project.contains_subprojects %}
                      <td>
                        <div class="cell">
                          <a href="{{ url_for('subproject', project_id=project.id, subproject_id=payment.subproject.id) }}">{{ payment.subproject.name }}</a>
                        </div>
                      </td>
                    {% endif %}
                    <td>
                      <div class="cell justify-content-end">
                        {% if payment.hidden %}
                          <i>Deze transactie is verborgen&nbsp;&nbsp;</i>
                        {% endif %}
                        {% if payment.amount_value >= 0 %}
                          <h1 class="text-blue text-right">+{{ payment.get_formatted_currency() }}</h1>
                        {% else %}
                          <h1 class="text-red text-right">{{ payment.get_formatted_currency() }}</h1>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.counterparty_alias_name }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.alias_name }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {% if payment.short_user_description %}
                          {{ payment.short_user_description }}
                        {% else %}
                          <i>nog niet toegevoegd</i>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.created.strftime('%d-%m-\'%y') }}
                      </div>
                    </td>
                    <td>
                      <div class="cell justify-content-center">
                        {% if payment.attachments.all() %}
                          <i class="fas fa-2x fa-camera"></i></center>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      <div class="cell last-cell justify-content-center">
                        <button type="button" class="btn button-detail"><i class="fas fa-chevron-down"></i></button>
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.description }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.long_user_description }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.get_formatted_balance() }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.category.name }}
                      </div>
                    </td>
                    <td>
                    <div id="detail-{{ payment.id }}" class="d-none">
                      <div class="detail-row">
                        <div class="row">
                          <div class="col-5">
                            <b>Betaald door</b>
                            <br>
                            {{ payment.alias_name }}
                            <br>
                            <br>
                            {% if payment.type != 'MANUAL' %}
                              <b>Betaal&shy;omschrijving</b>
                              <br>
                              {% if payment.description %}
                                {{ payment.description }}
                              {% else %}
                                <i>geen beschrijving</i>
                              {% endif %}
                              <br>
                              <br>
                              <b>Saldo na boeking</b>
                              <br>
                              €{{ payment.get_formatted_balance() }}
                              <br>
                              <br>
                            {% endif %}
                            {% if not (payment.id in payment_forms and 'created' in payment_forms[payment.id]) %}
                              {{ payment.created.strftime('%d-%m-\'%y') }}
                            {% endif %}
                            <br>
                            <br>
                            {% if payment.amount_value >= 0 %}
                              <h6 class="text-blue">+{{ payment.get_formatted_currency() }}</h6>
                            {% else %}
                              <h6 class="text-red">{{ payment.get_formatted_currency() }}</h6>
                            {% endif %}
                          </div>
                          <div class="col-7">
                            {% if payment.id in payment_forms %}
                              <form method="POST">
                              {{ payment_forms[payment.id].csrf_token }}
                              {{ payment_forms[payment.id].id }}
                            {% endif %}

                            <b>Ontvanger</b>
                            <br>
                            {{ payment.counterparty_alias_name }}
                            <br>
                            <br>

                            {% if 'created' in payment_forms[payment.id] %}
                              <b>Datum</b>
                              <br>
                              {{ payment_forms[payment.id]['created'] }}
                              <br>
                              <br>
                            {% endif %}

                            <b>Route</b>
                            <br>
                            {% if payment.id in payment_forms %}
                              {{ payment_forms[payment.id]['route'] }}
                            {% else %}
                              {{ payment.route }}
                            {% endif %}
                            <br>
                            <br>

                            <b>Categorie</b>
                            <br>
                            {% if payment.id in payment_forms %}
                              {{ payment_forms[payment.id]['category_id'] }}
                            {% else %}
                              {{ payment.category.name }}
                            {% endif %}
                            <br>
                            <br>

                            {% if project.contains_subprojects %}
                              <b>Waarvoor</b>
                              <br>
                              <a href="{{ url_for('subproject', project_id=project.id, subproject_id=payment.subproject.id) }}"><i>{{ payment.subproject.name }}</i></a>
                              <br>
                              <br>
                            {% endif %}

                            {# Show either the short or long description to not logged in visitors, otherwise allow a logger in user with access to this payment to edit the short and long descriptions #}
                            {% if payment.id in payment_forms %}
                              <b>Korte omschrijving</b>
                              <br>
                              {{ payment_forms[payment.id]['short_user_description'] }}
                              <br>
                              <br>

                              <b>Lange omschrijving</b>
                              <br>
                              {{ payment_forms[payment.id]['long_user_description'] }}
                              <br>
                              <br>
                            {% else %}
                              <b>Omschrijving</b>
                              <br>
                              {% if payment.long_user_description %}
                                {{ payment.long_user_description }}
                              {% elif payment.short_user_description %}
                                {{ payment.short_user_description }}
                              {% else %}
                                <i></i>
                              {% endif %}
                              <br>
                              <br>
                            {% endif %}

                            {% if payment.id in payment_forms %}
                              {% if project_owner %}
                                {{ payment_forms[payment.id]['hidden'].label }}
                                {{ payment_forms[payment.id]['hidden'] }}
                                <br>
                              {% endif %}

                              {{ payment_forms[payment.id].submit }}

                              {% if payment_forms[payment.id].remove %}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#transactie-verwijder-{{ payment.id }}">
                                  Verwijderen
                                </button>
                              {% endif %}
                              </form>
                            {% endif %}

                            {% if payment.attachments.all() or project_owner or payment.id in payment_forms %}
                              <br>
                              <hr>
                              <b>Media</b>
                              <div class="row">
                                {% for attachment in payment.attachments %}
                                  <div class="col-6 col-sm-4">
                                    <div class="attachment-div">
                                      {% if project_owner or payment.subproject.id in user_subproject_ids %}
                                        {% if remove_attachment_form %}
                                          <!-- Button trigger modal -->
                                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#bijlage-verwijder-{{ attachment.id }}">
                                            Verwijderen
                                          </button>
                                        {% endif %}
                                      {% endif %}
                                      {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
                                        <a class="embed-responsive embed-responsive-1by1" href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}" data-toggle="lightbox" data-gallery="transaction-gallery-{{ payment.id }}">
                                          <img class="img-fluid embed-responsive-item attachment" src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
                                        </a>
                                      {% else %}
                                        <a class="embed-responsive embed-responsive-1by1" href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
                                          <div class="embed-responsive-item bg-grey attachment d-flex" style="word-wrap: break-word">
                                            <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                                            <span class="w-100 fa-layers-text text-color-main">{{ attachment.mimetype.split('/')[1] }}</span>
                                          </div>
                                        </a>
                                      {% endif %}
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                            {% endif %}

                            {# Make sure the user is allowed to edit this payment (especially needed when a normal users edits a subproject payment on a project page #}
                            {% if project_owner or payment.subproject.id in user_subproject_ids %}
                              {% if transaction_attachment_form %}
                                <form method="POST" enctype="multipart/form-data">
                                  {{ transaction_attachment_form.csrf_token }}
                                  {% for f in transaction_attachment_form %}
                                    {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                      <div>
                                        {{ f.label }}
                                        {{ f }}
                                        {% for error in f.errors %}
                                          <span style="color: red;">- {{ error }}</span>
                                        {% endfor %}
                                      </div>
                                    {% endif %}
                                  {% endfor %}
                                  {{ transaction_attachment_form.payment_id(**{'value': payment.id}) }}
                                  {{ transaction_attachment_form.submit() }}
                                </form>
                              {% endif %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# We can't put the modal code next to the button code, because it doesn't seem to work in combination with Bootstrap Table's detail view #}
  {% if remove_attachment_form %}
    {% for payment in payments %}
      {% if project_owner or payment.subproject.id in user_subproject_ids %}
        {% for attachment in payment.attachments %}
          {% include 'partials/remove_attachment_form.html' %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if project_owner %}
    {% for payment in payments %}
      {% if payment_forms[payment.id].remove %}
        <!-- Modal -->
        <div class="modal fade" id="transactie-verwijder-{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="transactieVerwijderLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="transactieVerwijderLabel">Transactie Verwijderen</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <p>Weet u zeker dat u deze transactie wilt verwijderen?</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                  {{ payment_forms[payment.id].csrf_token }}
                  {{ payment_forms[payment.id].id }}
                  {{ payment_forms[payment.id].remove }}
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if project_data and project_owner %}
    <!-- Modal for 'Project owner toevoegen' -->
    <div class="modal fade" id="project-owner-toevoegen-{{ project_data.id }}" tabindex="-1" role="dialog" aria-labelledby="projectOwnerToevoegenLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="projectOwnerToevoegenLabel">Project Owner Toevoegen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Als er nog geen gebruiker bestaat met dit e-mailadres dan krijgt deze een uitnodigingsmail met daarin een link om een wachtwoord aan te maken. Als er wel al een gebruiker bestaat met dit e-mailadres dan krijgt deze gebruiker 'project owner'-rechten (er wordt daar geen e-mail over verstuurd).</p>
              <div>
                {{ add_user_form.csrf_token }}

                {{ add_user_form.email }}
                {{ add_user_form.project_id(**{'value': project_data.id}) }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
              {{ add_user_form.submit }}
            </div>
          </form>
        </div>
      </div>
    </div>

    {% for project_owner_email, edit_project_owner_form in edit_project_owner_forms[project_data.id].items() %}
      <!-- Modal for 'Project owner bewerken' -->
      <div class="modal fade" id="project-owner-bewerken-{{ edit_project_owner_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="projectOwnerBewerkenLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="projectOwnerBewerkenLabel">Project Owner Bewerken</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  {{ edit_project_owner_form.csrf_token }}

                  {% for f in edit_project_owner_form %}
                    {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                      <div>
                        {{ f }}
                        {{ f.label }}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                {{ edit_project_owner_form.id }}
                {{ edit_project_owner_form.project_id }}
                {{ edit_project_owner_form.submit }}
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}

    {% if not project_data['contains_subprojects'] %}
      <!-- Modal for 'Categorie toevoegen' -->
      <div class="modal fade" id="categorie-toevoegen-{{ project_data.category_form.project_id.data }}" tabindex="-1" role="dialog" aria-labelledby="categorieToevoegenLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="categorieToevoegenLabel">Categorie Toevoegen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  {{ project_data.category_form.csrf_token }}
                  {{ project_data.category_form.name }}
                </div>
              </div>
              <div class="modal-footer">
                {{ project_data.category_form.project_id }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                {{ project_data.category_form.submit }}
              </div>
            </form>
          </div>
        </div>
      </div>

      {% for category_form in project_data.category_forms %}
        <!-- Modal for categorie bewerken -->
        <div class="modal fade" id="categorie-bewerken-{{ category_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="categorieBewerkenLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="categorieBewerkenLabel">Categorie Bewerken</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    {{ category_form.csrf_token }}

                    {% for f in category_form %}
                      {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                        <div>
                          {{ f }}
                          {{ f.label }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="modal-footer">
                  {{ category_form.id }}
                  {{ category_form.project_id }}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#categorie-verwijder-{{ category_form.id.data }}">
                    Verwijderen
                  </button>

                  {{ category_form.submit }}

                  <!-- Modal -->
                  <div class="modal fade" id="categorie-verwijder-{{ category_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="categorieVerwijderLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <form method="POST">
                          <div class="modal-header">
                            <h5 class="modal-title" id="categorieVerwijderLabel">Categorie Verwijderen</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div>
                              <p>Weet u zeker dat u categorie "<b>{{ category_form.name.data }}</b>" wilt verwijderen? Hiermee wordt deze categorie ook weggehaald bij alle transacties waar de categorie aan toegevoegd is!</p>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                            {{ category_form.remove }}
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>var categories_dict = {{ categories_dict|tojson }};</script>
  {{ super() }}
{% endblock %}
