{% extends "base.html" %}
{% block head %}
  <title>Open Poen - {{ project.name }}</title>
  <meta property="og:title" content="Open Poen - {{ project.name }}" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container project-lead bg-blue">
    <div class="text-center poen-breadcrumb">
      <a href="/">Home</a> > {{ project.name }}
    </div>

    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-12 col-md-4">
            ter beschikking door:
            {% for funder in project.funders %}
              <a href="{{ funder.url }}" target="_blank" rel="noopener">{{ funder.name }}</a>
            {% endfor %}
          </div>

          <div class="col-12 col-md-4">
            <div class="amounts-card bg-grey-light">
              {% if project.hidden %}
                <p><i>Dit project is verborgen en dus niet te zien door het publiek</i><p>
              {% endif %}
              <div class="amounts-card-title">
                <h1 class="text-center">{{ project.name }}</h1>
              </div>
              <div class="row">
                <div class="col-4 text-right">
                  <h3 class="text-blue">resterend</h3>
                  <h2>{{ amounts.left_str }}</h2>
                </div>
                <div class="col-4 text-center">
                  <h2>{{ amounts.percentage_spent_str }}</h2>
                </div>
                <div class="col-4">
                  <h3 class="text-red">uitgegeven</h3>
                  <h2>{{ amounts.spent_str }}</h2>
                </div>
              </div>
              <h3 class="text-center totaal">totaal {{ amounts.awarded_str }}</h3>
            </div>
          </div>

          <div class="col-12 col-md-4">
            {% if project_owner %}
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subproject-toevoegen">
                Subproject toevoegen
              </button>

              <!-- Modal -->
              <div class="modal fade" id="subproject-toevoegen" tabindex="-1" role="dialog" aria-labelledby="subprojectToevoegenLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <form method="POST" action="">
                      <div class="modal-header">
                        <h5 class="modal-title" id="subprojectToevoegenLabel">Subproject Toevoegen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          {{ subproject_form.csrf_token }}

                          {% for f in subproject_form %}
                            {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                              <div>
                                {{ f.label }}
                                <br>
                                {{ f }}
                                {% for error in f.errors %}
                                  <span style="color: red;">- {{ error }}</span>
                                {% endfor %}
                              </div>
                            {% endif %}
                          {% endfor %}
                          {{ subproject_form.project_id }}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                        {{ subproject_form.submit }}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 content bg-white">
        <div class="row">
          <table class="payment-table">
            <thead>
              <tr>
                <th data-sortable="true">waarvoor?</th>
                <th data-sortable="true">bedrag €</th>
                <th data-sortable="true">ontvanger</th>
                <th data-sortable="true">initiatiefnemer</th>
                <th data-sortable="true">omschrijving</th>
                <th data-sortable="true">datum</th>
                <th>media</th>
                <th data-sortable="true">info</th>
                <th>details</th>
              </tr>
            </thead>
            <tbody>
            {% for subproject in project.subprojects %}
              {% for payment in subproject.payments|sort(attribute='created', reverse=true) %}
                <tr>
                  <td><a href="{{ url_for('subproject', project_id=project.id, subproject_id=subproject.id) }}">{{ subproject.name }}</a></td>
                  {% if payment.amount_value >= 0 %}
                    <td><h1 class="text-blue text-right">+{{ payment.get_formatted_currency() }}</h1></td>
                  {% else %}
                    <td><h1 class="text-red text-right">{{ payment.get_formatted_currency() }}</h1></td>
                  {% endif %}
                  <td>{{ payment.counterparty_alias_name }}</td>
                  <td>{{ payment.alias_name }}</td>
                  {% if payment.short_user_description %}
                    <td>{{ payment.short_user_description }}</td>
                  {% else %}
                    <td><i>nog niet toegevoegd</i></td>
                  {% endif %}
                  <td>{{ payment.created.strftime('%Y-%m-%d') }}</td>
                  <td>TODO</td>
                  <td>TODO</td>
                  <td>TODO</td>
                </tr>
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
