{% extends "base.html" %}
{% block head %}
  <title>Open Poen - {{ subproject.name }}</title>
  <meta property="og:title" content="Open Poen - {{ subproject.name }}" />
  {{ super() }}
{% endblock %}

{% block body %}
  <body onresize="createDonuts()" class="subproject transaction{% if use_square_borders %} use-square-borders{% endif %}">
{% endblock %}

{% block content %}
  <div class="container poen-lead project-lead bg-blue-light">
    <div class="text-center poen-breadcrumb">
      <a href="/">Home</a> > <a href="{{ url_for('project', project_id=subproject.project.id) }}">{{ subproject.project.name }}</a> > {{ subproject.name }}
    </div>

    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="lead-side-col col-6 col-lg-3 col-xxl-4 order-6 order-lg-1 d-flex flex-column justify-content-between">
            <button type="button" class="btn button-poen-small bg-grey-blue mx-auto">
              <a href="{{ url_for('project', project_id=subproject.project.id) }}">< terug</a>
            </button>
          </div>

          <div class="col-12 col-lg-6 col-xxl-4 order-1 order-lg-4">
            <div class="amounts-card bg-white">
              {% if subproject.hidden %}
                <p><i>Dit subproject is verborgen en dus niet te zien door het publiek</i><p>
              {% endif %}
              <div class="amounts-card-title">
                <h1 class="text-center">{{ subproject.name }}</h1>
              </div>
              <div class="row">
                <div class="col-4 text-right small-gutter">
                  <br>
                  <h3 class="text-blue">resterend</h3>
                  <h2>{{ amounts.left_str }}</h2>
                </div>
                <div class="col-4 text-center donut" data-percentage="{{ amounts.percentage_spent_str }}">
                </div>
                <div class="col-4 small-gutter">
                  <br>
                  <h3 class="text-red">uitgegeven</h3>
                  <h2>{{ amounts.spent_str }}</h2>
                </div>
              </div>
              {% if budget %}
                <h3 class="text-center totaal">totaal {{ budget }}</h3>
                <p class="text-center">banksaldo {{ amounts.awarded_str }}</p>
              {% else %}
                <h3 class="text-center totaal">totaal {{ amounts.awarded_str }}</h3>
              {% endif %}

              {% if project_owner %}
                <br>
                <!-- Button trigger modal -->
                <div class="text-center">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subproject-bewerken">
                    initiatief bewerken
                  </button>
                </div>

                <!-- Modal -->
                <div class="modal fade text-left" id="subproject-bewerken" tabindex="-1" role="dialog" aria-labelledby="subprojectBewerkenLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form method="POST">
                        <div class="modal-header">
                          <h5 class="modal-title" id="subprojectBewerkenLabel">Initiatief Bewerken</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <b>Categoriën</b>
                          <br>
                          <br>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn button-poen-small bg-grey" data-toggle="modal" data-target="#categorie-toevoegen">
                            categorie toevoegen
                          </button>
                          <br>
                          <br>

                          {% for category_form in category_forms %}
                            <!-- Button trigger modal -->
                            <div>
                              <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal" data-target="#categorie-bewerken-{{ category_form.id.data }}">
                                categorie bewerken
                              </button>
                            {{ category_form.name.data }}
                            </div>
                            <br>
                          {% endfor %}

                          <hr>

                          <div>
                            {{ subproject_form.csrf_token }}

                            {% for f in subproject_form %}
                              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                <div>
                                  {{ f.label }}
                                  <br>
                                  {{ f }}
                                  <br>
                                  <br>
                                </div>
                              {% endif %}
                            {% endfor %}
                            {{ subproject_form.project_id }}
                            {{ subproject_form.id }}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#subproject-verwijder">
                            Verwijderen
                          </button>

                          {{ subproject_form.submit }}

                          <!-- Modal -->
                          <div class="modal fade" id="subproject-verwijder" tabindex="-1" role="dialog" aria-labelledby="subprojectVerwijderLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <form method="POST">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="subprojectVerwijderLabel">Subproject Verwijderen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div>
                                      <p>Weet u zeker dat u subproject "<b>{{ subproject['name'] }}</b>" wilt verwijderen? Als u een subproject niet wilt tonen aan het publiek kunt u het subproject ook 'verbergen' in plaats van verwijderen.</p>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                    {{ subproject_form.remove }}
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="lead-side-col col-6 col-lg-3 col-xxl-4 order-9 d-flex flex-column justify-content-between">
            <div class="button-poen-small bg-grey-blue mx-auto">initiatief&shy;nemers</div>

            <div class="card-small bg-white mx-auto d-flex">
              <ul class="card-small-list mx-auto my-auto">
                {% for user in (subproject.project.users|list + subproject.users|list) | unique %}
                  {% if user.first_name and not user.hidden %}
                    <li><a href="{{ url_for('profile', user_id=user.id) }}">{{ user.first_name }} {{ user.last_name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

            {% if project_owner %}
              <!-- Button trigger modal -->
              <button type="button" class="btn button-poen-small bg-grey-blue mx-auto" data-toggle="modal" data-target="#initiatiefnemers-beheren">initiatief&shy;nemers beheren ></button>

              <!-- Modal -->
              <div class="modal fade" id="initiatiefnemers-beheren" tabindex="-1" role="dialog" aria-labelledby="initiatiefnemersBeherenLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="initiatiefnemersBeherenLabel">Initiatiefnemers Beheren</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal" data-target="#initiatiefnemer-toevoegen">
                          initiatiefnemer toevoegen
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="initiatiefnemer-toevoegen" tabindex="-1" role="dialog" aria-labelledby="initiatiefnemerToevoegenLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <form method="POST">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="initiatiefnemerToevoegenLabel">Initiatiefnemer Toevoegen</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Als er nog geen gebruiker bestaat met dit e-mailadres dan krijgt deze een uitnodigingsmail met daarin een link om een wachtwoord aan te maken. Als er wel al een gebruiker bestaat met dit e-mailadres dan krijgt deze gebruiker toegang tot dit initiatief (er wordt daar geen e-mail over verstuurd).</p>
                                  <div>
                                    {{ add_user_form.csrf_token }}

                                    {{ add_user_form.email }}
                                    {{ add_user_form.subproject_id(**{'value': subproject.id}) }}
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                  {{ add_user_form.submit }}
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                        <hr>

                        {% for user_email, edit_user_form in edit_user_forms.items() %}
                          <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal" data-target="#initiatiefnemer-bewerken-{{ edit_user_form.id.data }}">
                              initiatiefnemer bewerken
                            </button>
                            {{ user_email }}

                            <!-- Modal -->
                            <div class="modal fade" id="initiatiefnemer-bewerken-{{ edit_user_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="initiatiefnemerBewerkenLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <form method="POST">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="initiatiefnemerBewerkenLabel">Initiatiefnemer Bewerken</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div>
                                        {{ edit_user_form.csrf_token }}

                                        {% for f in edit_user_form %}
                                          {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                            <div>
                                              {{ f }}
                                              {{ f.label }}
                                            </div>
                                          {% endif %}
                                        {% endfor %}
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                      {{ edit_user_form.id }}
                                      {{ edit_user_form.subproject_id }}
                                      {{ edit_user_form.submit }}
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="d-none d-lg-block button-poen-small-hidden bg-blue-light mx-auto"></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 poen-content bg-white">
        <div class="row">
          <div class="col-12">
            <div id="toolbar">
              {% if project_owner %}
                <!-- Button trigger modal -->
                <button type="button" class="btn button-poen-small bg-grey-blue mx-auto" data-toggle="modal" data-target="#transactie-toevoegen">
                  + transactie
                </button>

                <!-- Modal -->
                <div class="modal fade" id="transactie-toevoegen" tabindex="-1" role="dialog" aria-labelledby="transactieToevoegenLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form method="POST">
                        <div class="modal-header">
                          <h5 class="modal-title" id="transactieToevoegenLabel">Transactie Toevoegen</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {{ new_payment_form.csrf_token }}

                          {% for f in new_payment_form %}
                            {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                              <div>
                                {{ f.label }}
                                <br>
                                {{ f }}
                                <br>
                                <br>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                          {{ new_payment_form.submit() }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <table class="payment-table" data-locale="nl-NL" data-toolbar="#toolbar" data-cookie="true" data-cookie-id-table="project-{{ subproject.project.id }}-subproject-{{ subproject.id }}" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-detail-formatter="detailFormatter" data-show-export="true" data-export-data-type="all" data-export-types="['csv', 'txt', 'json', 'xml', 'sql']" data-export-options='{"fileName": "{{ timestamp }}-{{ subproject.project.name | replace(' ', '_') }}-{{ subproject.name | replace(' ', '_')  }}"}'>
              <thead>
                <tr>
                  {# Hidden column used to make search work with the detailed view; NOTE: the id should always be the first column of the table #}
                  <th data-force-hide="true" class="d-none">id</th>
                  <th data-sortable="true" data-field="bedrag" data-sorter="customSort">bedrag €</th>
                  <th data-sortable="true" data-field="ontvanger" class="d-none d-sm-table-cell">ontvanger</th>
                  <th data-sortable="true" data-field="initiatiefnemer" class="d-none d-sm-table-cell">initiatiefnemer</th>
                  <th data-sortable="true" data-field="omschrijving">omschrijving</th>
                  <th data-sortable="true" data-field="datum" data-sorter="sortByDate" class="d-none d-md-table-cell">datum</th>
                  <th data-sortable="true" data-field="media" data-force-hide="true" class="d-none d-xl-table-cell">media</th>
                  <th data-force-hide="true">details</th>
                  {# The columns below are hidden, but need to be included to make their content exportable #}
                  <th class="d-none">betaalomschrijving</th>
                  <th class="d-none">lange omschrijving</th>
                  <th class="d-none">saldo na boeking €</th>
                  <th class="d-none">categorie</th>
                  {# Hidden column used to generate the detailed view #}
                  <th data-force-hide="true" class="d-none">detail-view</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in subproject.payments|sort(attribute='created', reverse=true) %}
                  {% set bonnen = [] %}
                  {% set media = [] %}
                  {% for attachment in payment.attachments %}
                    {% if attachment.mediatype == 'bon' %}
                      {{ bonnen.append(attachment)|default("", True) }}
                    {% elif attachment.mediatype == 'media' %}
                      {{ media.append(attachment)|default("", True) }}
                    {% endif %}
                  {% endfor %}

                  {% if not payment.hidden or (project_owner or user_in_subproject) %}
                    <tr{% if payment.type == 'MANUAL' %} class="manual-payment"{% endif %}>
                      <td>
                        <div class="cell">
                          {{ payment.id }}
                        </div>
                      </td>
                      <td>
                        <div class="cell justify-content-end">
                          {% if payment.hidden %}
                            <i>Deze transactie is verborgen&nbsp;&nbsp;</i>
                          {% endif %}
                          {% if payment.amount_value >= 0 %}
                            <h1 class="text-blue text-right">+{{ payment.get_formatted_currency() }}</h1>
                          {% else %}
                            <h1 class="text-red text-right">{{ payment.get_formatted_currency() }}</h1>
                          {% endif %}
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {{ payment.counterparty_alias_name }}
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {{ payment.alias_name }}
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {% if payment.short_user_description %}
                            {{ payment.short_user_description }}
                          {% else %}
                            <i>nog niet toegevoegd</i>
                          {% endif %}
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {{ payment.created.strftime('%d-%m-\'%y') }}
                        </div>
                      </td>
                      <td>
                        <div class="cell justify-content-center">
                          {% if bonnen %}
                            <i class="fas fa-2x fa-receipt"></i></center>
                          {% endif %}
                          {% if bonnen and media %}
                            &nbsp;
                          {% endif %}
                          {% if media %}
                            <i class="fas fa-2x fa-camera"></i></center>
                          {% endif %}
                        </div>
                      </td>
                      <td>
                        <div class="cell last-cell justify-content-center">
                          <button type="button" class="btn button-detail"><i class="fas fa-chevron-down"></i></button>
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {{ payment.description }}
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {{ payment.long_user_description }}
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {{ payment.get_formatted_balance() }}
                        </div>
                      </td>
                      <td>
                        <div class="cell">
                          {{ payment.category.name }}
                        </div>
                      </td>
                      <td>
                        <div id="detail-{{ payment.id }}">
                          <div class="detail-row">
                            <div class="row">
                              <div class="col-5">
                                <b>Initiatiefnemer</b>
                                <br>
                                {{ payment.alias_name }}
                                <br>
                                <br>
                                {% if payment.type != 'MANUAL' %}
                                  <b>Betaal&shy;omschrijving</b>
                                  <br>
                                  {% if payment.description %}
                                    {{ payment.description }}
                                  {% else %}
                                    <i>geen beschrijving</i>
                                  {% endif %}
                                  <br>
                                  <br>
                                  <b>Saldo na boeking</b>
                                  <br>
                                  €{{ payment.get_formatted_balance() }}
                                  <br>
                                  <br>
                                {% endif %}
                                {% if not (payment.id in payment_forms and 'created' in payment_forms[payment.id]) %}
                                  {{ payment.created.strftime('%d-%m-\'%y') }}
                                {% endif %}
                                <br>
                                <br>
                                {% if payment.amount_value >= 0 %}
                                  <h6 class="text-blue">+{{ payment.get_formatted_currency() }}</h6>
                                {% else %}
                                  <h6 class="text-red">{{ payment.get_formatted_currency() }}</h6>
                                {% endif %}
                              </div>
                              <div class="col-7">
                                {% if payment_forms %}
                                  <form method="POST">
                                  {{ payment_forms[payment.id].csrf_token }}
                                  {{ payment_forms[payment.id].id }}
                                {% endif %}

                                <b>Ontvanger</b>
                                <br>
                                {{ payment.counterparty_alias_name }}
                                <br>
                                <br>

                                {% if 'created' in payment_forms[payment.id] %}
                                  <b>Datum</b>
                                  <br>
                                  {{ payment_forms[payment.id]['created'] }}
                                  <br>
                                  <br>
                                {% endif %}

                                <b>Route</b>
                                <br>
                                {% if payment.id in payment_forms %}
                                  {{ payment_forms[payment.id]['route'] }}
                                {% else %}
                                  {{ payment.route }}
                                {% endif %}
                                <br>
                                <br>

                                <b>Categorie</b>
                                <br>
                                {% if payment_forms %}
                                  {{ payment_forms[payment.id]['category_id'] }}
                                {% else %}
                                  {{ payment.category.name }}
                                {% endif %}
                                <br>
                                <br>

                                {# Show either the short or long description to not logged in visitors, otherwise allow a logger in user with access to this payment to edit the short and long descriptions #}
                                {% if payment_forms %}
                                  <b>Korte omschrijving</b>
                                  <br>
                                  {{ payment_forms[payment.id]['short_user_description'] }}
                                  <br>
                                  <br>

                                  <b>Lange omschrijving</b>
                                  <br>
                                  {{ payment_forms[payment.id]['long_user_description'] }}
                                  <br>
                                  <br>
                                {% else %}
                                  <b>Omschrijving</b>
                                  <br>
                                  {% if payment.long_user_description %}
                                    {{ payment.long_user_description }}
                                  {% elif payment.short_user_description %}
                                    {{ payment.short_user_description }}
                                  {% else %}
                                    <i>er is door de initiatiefnemer nog geen beschrijving van deze transactie toegevoegd</i>
                                  {% endif %}
                                  <br>
                                  <br>
                                {% endif %}

                                {% if payment_forms %}
                                  {% if project_owner %}
                                    {{ payment_forms[payment.id]['hidden'].label }}
                                    {{ payment_forms[payment.id]['hidden'] }}
                                    <br>
                                  {% endif %}

                                  {{ payment_forms[payment.id].submit }}

                                  {% if payment_forms[payment.id].remove %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#transactie-verwijder-{{ payment.id }}">
                                      Verwijderen
                                    </button>
                                  {% endif %}
                                  </form>
                                {% endif %}

                                {% if payment.attachments.all() %}
                                  <br>
                                  <hr>
                                  <div class="row">
                                    {% if bonnen %}
                                      <div class="col-12">
                                        <b>Bonnen</b>
                                      </div>
                                      {% for attachment in bonnen %}
                                        <div class="col-6 col-sm-4">
                                          <div class="attachment-div">
                                            {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
                                              <a class="embed-responsive embed-responsive-1by1" href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}" data-toggle="lightbox" data-gallery="transaction-gallery-{{ payment.id }}">
                                                <img class="img-fluid embed-responsive-item attachment" src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
                                              </a>
                                            {% else %}
                                              <a class="embed-responsive embed-responsive-1by1" href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
                                                <div class="embed-responsive-item bg-grey attachment d-flex" style="word-wrap: break-word">
                                                  <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                                                  <span class="w-100 fa-layers-text text-color-main">{{ attachment.mimetype.split('/')[1] }}</span>
                                                </div>
                                              </a>
                                            {% endif %}

                                            {% if project_owner or user_in_subproject %}
                                              {% if attachment.id in edit_attachment_forms %}
                                                <form method="post">
                                                  {{ edit_attachment_forms[attachment.id]['csrf_token'] }}
                                                  {{ edit_attachment_forms[attachment.id]['id'] }}
                                                  {{ edit_attachment_forms[attachment.id]['mediatype'] }}
                                                  {{ edit_attachment_forms[attachment.id]['submit'] }}
                                                </form>
                                                <br>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#bijlage-verwijder-{{ attachment.id }}">
                                                  Verwijderen
                                                </button>
                                              {% endif %}
                                            {% endif %}
                                          </div>
                                        </div>
                                      {% endfor %}
                                    {% endif %}

                                    {% if media %}
                                      <div class="col-12">
                                        <b>Media</b>
                                      </div>
                                      {% for attachment in media %}
                                        <div class="col-6 col-sm-4">
                                          <div class="attachment-div">
                                            {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
                                              <a class="embed-responsive embed-responsive-1by1" href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}" data-toggle="lightbox" data-gallery="transaction-gallery-{{ payment.id }}">
                                                <img class="img-fluid embed-responsive-item attachment" src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
                                              </a>
                                            {% else %}
                                              <a class="embed-responsive embed-responsive-1by1" href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
                                                <div class="embed-responsive-item bg-grey attachment d-flex" style="word-wrap: break-word">
                                                  <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                                                  <span class="w-100 fa-layers-text text-color-main">{{ attachment.mimetype.split('/')[1] }}</span>
                                                </div>
                                              </a>
                                            {% endif %}

                                            {% if project_owner or user_in_subproject %}
                                              {% if attachment.id in edit_attachment_forms %}
                                                <form method="post">
                                                  {{ edit_attachment_forms[attachment.id]['csrf_token'] }}
                                                  {{ edit_attachment_forms[attachment.id]['id'] }}
                                                  {{ edit_attachment_forms[attachment.id]['mediatype'] }}
                                                  {{ edit_attachment_forms[attachment.id]['submit'] }}
                                                </form>
                                                <br>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#bijlage-verwijder-{{ attachment.id }}">
                                                  Verwijderen
                                                </button>
                                              {% endif %}
                                            {% endif %}
                                          </div>
                                        </div>
                                      {% endfor %}
                                    {% endif %}
                                  </div>
                                {% endif %}

                                {% if transaction_attachment_form %}
                                  <hr>
                                  <b>Nieuwe media toevoegen</b>
                                  <form method="POST" enctype="multipart/form-data">
                                    {{ transaction_attachment_form.csrf_token }}
                                    {% for f in transaction_attachment_form %}
                                      {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                        <div>
                                          {{ f.label }}
                                          {{ f }}
                                          {% for error in f.errors %}
                                            <span style="color: red;">- {{ error }}</span>
                                          {% endfor %}
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                    {{ transaction_attachment_form.payment_id(**{'value': payment.id}) }}
                                    {{ transaction_attachment_form.submit() }}
                                  </form>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if project_owner %}
    <!-- Modal for 'Categorie toevoegen' -->
    <div class="modal fade" id="categorie-toevoegen" tabindex="-1" role="dialog" aria-labelledby="categorieToevoegenLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="categorieToevoegenLabel">Categorie Toevoegen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ category_form.subproject_id }}
              {{ category_form.project_id }}
              <div>
                {{ category_form.csrf_token }}

                {{ category_form.name }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
              {{ category_form.submit }}
            </div>
          </form>
        </div>
      </div>
    </div>

    {% for category_form in category_forms %}
      <!-- Modal for categorie bewerken -->
      <div class="modal fade" id="categorie-bewerken-{{ category_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="categorieBewerkenLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="categorieBewerkenLabel">Categorie Bewerken</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  {{ category_form.csrf_token }}

                  {% for f in category_form %}
                    {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                      <div>
                        {{ f }}
                        {{ f.label }}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                {{ category_form.id }}
                {{ category_form.subproject_id }}
                {{ category_form.project_id }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#categorie-verwijder-{{ category_form.id.data }}">
                  Verwijderen
                </button>

                {{ category_form.submit }}

                <!-- Modal -->
                <div class="modal fade" id="categorie-verwijder-{{ category_form.id.data }}" tabindex="-1" role="dialog" aria-labelledby="categorieVerwijderLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form method="POST">
                        <div class="modal-header">
                          <h5 class="modal-title" id="categorieVerwijderLabel">Categorie Verwijderen</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div>
                            <p>Weet u zeker dat u categorie "<b>{{ category_form.name.data }}</b>" wilt verwijderen? Hiermee wordt deze categorie ook weggehaald bij alle transacties waar de categorie aan toegevoegd is!</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                          {{ category_form.remove }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {# We can't put the modal code next to the button code, because it doesn't seem to work in combination with Bootstrap Table's detail view #}
  {% if edit_attachment_forms %}
    {% for payment in subproject.payments %}
      {% for attachment in payment.attachments %}
        {% include 'partials/remove_attachment_form.html' %}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if project_owner %}
    {% for payment in subproject.payments %}
      {% if payment_forms[payment.id].remove %}
        <!-- Modal -->
        <div class="modal fade" id="transactie-verwijder-{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="transactieVerwijderLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="transactieVerwijderLabel">Transactie Verwijderen</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <p>Weet u zeker dat u deze transactie wilt verwijderen?</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                  {{ payment_forms[payment.id].csrf_token }}
                  {{ payment_forms[payment.id].id }}
                  {{ payment_forms[payment.id].remove }}
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}
