{% extends "base.html" %}
{% block head %}
  <title>Open Poen - {{ subproject.name }}</title>
  <meta property="og:title" content="Open Poen - {{ subproject.name }}" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container poen-lead project-lead bg-blue-light">
    <div class="text-center poen-breadcrumb">
      <a href="/">Home</a> > <a href="{{ url_for('project', project_id=subproject.project.id) }}">{{ subproject.project.name }}</a> > {{ subproject.name }}
    </div>

    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="lead-side-col col-6 col-lg-3 col-xxl-4 order-6 order-lg-1 d-flex flex-column justify-content-between">
            <div class="d-none d-lg-block button-poen-small-hidden bg-blue-light mx-auto"></div>
            <div class="card-small bg-white mx-auto d-flex">
              <ul class="card-small-list mx-auto my-auto">
                TODO
              </ul>
            </div>
            <a type="button" class="btn button-poen-small bg-grey-blue mx-auto" href="{{ url_for('project', project_id=subproject.id) }}">< terug</a>
          </div>

          <div class="col-12 col-lg-6 col-xxl-4 order-1 order-lg-4">
            <div class="amounts-card bg-white">
              {% if subproject.hidden %}
                <p><i>Dit subproject is verborgen en dus niet te zien door het publiek</i><p>
              {% endif %}
              <div class="amounts-card-title">
                <h1 class="text-center">{{ subproject.name }}</h1>
              </div>
              <div class="row">
                <div class="col-4 text-right">
                  <h3 class="text-blue">resterend</h3>
                  <h2>{{ amounts.left_str }}</h2>
                </div>
                <div class="col-4 text-center">
                  <h2>{{ amounts.percentage_spent_str }}</h2>
                </div>
                <div class="col-4">
                  <h3 class="text-red">uitgegeven</h3>
                  <h2>{{ amounts.spent_str }}</h2>
                </div>
              </div>
              <h3 class="text-center totaal">totaal {{ amounts.awarded_str }}</h3>

              {% if project_owner %}
                <!-- Button trigger modal -->
                <div class="text-center">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subproject-bewerken">
                    initiatief bewerken
                  </button>
                </div>

                <!-- Modal -->
                <div class="modal fade text-left" id="subproject-bewerken" tabindex="-1" role="dialog" aria-labelledby="subprojectBewerkenLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form method="POST" action="">
                        <div class="modal-header">
                          <h5 class="modal-title" id="subprojectBewerkenLabel">Initiatief Bewerken</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div>
                            {{ subproject_form.csrf_token }}

                            {% for f in subproject_form %}
                              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                                <div>
                                  {{ f.label }}
                                  <br>
                                  {{ f }}
                                  {% for error in f.errors %}
                                    <span style="color: red;">- {{ error }}</span>
                                  {% endfor %}
                                </div>
                              {% endif %}
                            {% endfor %}
                            {{ subproject_form.project_id }}
                            {{ subproject_form.id }}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#subproject-verwijder">
                            Verwijderen
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="subproject-verwijder" tabindex="-1" role="dialog" aria-labelledby="subprojectVerwijderLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <form method="POST" action="">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="subprojectVerwijderLabel">Subproject Verwijderen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div>
                                      <p>Weet u zeker dat u subproject "<b>{{ subproject['name'] }}</b>" wilt verwijderen? Als u een subproject niet wilt tonen aan het publiek kunt u het subproject ook 'verbergen' in plaats van verwijderen.</p>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                                    {{ subproject_form.remove }}
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          {{ subproject_form.submit }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="lead-side-col col-6 col-lg-3 col-xxl-4 order-9 d-flex flex-column justify-content-between">
            {% if current_user.admin %}
              <button type="button" class="btn button-poen-small bg-grey-blue mx-auto">initiatiefnemers bewerken ></button>
            {% else %}
              <div class="d-none d-lg-block button-poen-small-hidden bg-blue-light mx-auto"></div>
            {% endif %}
            <div class="card-small bg-white mx-auto d-flex">
              <ul class="card-small-list mx-auto my-auto">
                {% for user in subproject.project.users %}
                  <li>{{ user.first_name }} {{ user.last_name }}</li>
                {% endfor %}
                {% for user in subproject.users %}
                  <li>{{ user.first_name }} {{ user.last_name }}</li>
                {% endfor %}
              </ul>
            </div>
            <button type="button" class="btn button-poen-small bg-grey-blue mx-auto">initiatiefnemers ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 poen-content bg-white">
        <div class="row">
          <div class="col-12">
            <table class="payment-table" data-locale="nl-NL" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-detail-formatter="detailFormatter">
              <thead>
                <tr>
                  <th data-sortable="true" data-sorter="customSort">bedrag €</th>
                  <th data-sortable="true" class="d-none d-sm-table-cell">ontvanger</th>
                  <th data-sortable="true" class="d-none d-sm-table-cell">initiatiefnemer</th>
                  <th data-sortable="true">omschrijving</th>
                  <th data-sortable="true" class="d-none d-md-table-cell">datum</th>
                  <th class="d-none d-xl-table-cell">media</th>
                  <th data-sortable="true" class="d-none d-xl-table-cell">info</th>
                  <th>details</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in subproject.payments|sort(attribute='created', reverse=true) %}
                  <tr>
                    <td>
                      <div class="cell justify-content-end">
                        {% if payment.amount_value >= 0 %}
                          <h1 class="text-blue text-right">+{{ payment.get_formatted_currency() }}</h1>
                        {% else %}
                          <h1 class="text-red text-right">{{ payment.get_formatted_currency() }}</h1>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.counterparty_alias_name }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.alias_name }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {% if payment.short_user_description %}
                          {{ payment.short_user_description }}
                        {% else %}
                          <i>nog niet toegevoegd</i>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        {{ payment.created.strftime('%d-%m-\'%y') }}
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        TODO
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        TODO
                      </div>
                    </td>
                    <td>
                      <div class="cell last-cell justify-content-center">
                        <button type="button" class="btn button-detail"><i class="fas fa-chevron-down"></i></button>
                      </div>
                    </td>
                    <div id="detail-{{ loop.index - 1 }}" class="d-none">
                      <div class="row detail-row">
                        <div class="col-5">
                          <b>Initiatiefnemer</b>
                          <br>
                          {{ payment.alias_name }}
                          <br>
                          <br>
                          <b>Omschrijving</b>
                          <br>
                          {% if payment.description %}
                            {{ payment.description }}
                          {% else %}
                            <i>geen beschrijving</i>
                          {% endif %}
                          <br>
                          <br>
                          <b>Saldo na boeking</b>
                          <br>
                          €{{ payment.get_formatted_balance() }}
                          <br>
                          <br>
                          {{ payment.created.strftime('%d-%m-\'%y') }}
                          <br>
                          <br>
                          {% if payment.amount_value >= 0 %}
                            <h6 class="text-blue">+{{ payment.get_formatted_currency() }}</h6>
                          {% else %}
                            <h6 class="text-red">{{ payment.get_formatted_currency() }}</h6>
                          {% endif %}
                        </div>
                        <div class="col-7">
                          <b>Ontvanger</b>
                          <br>
                          {{ payment.counterparty_alias_name }}
                          <br>
                          <br>
                          <b>Waarvoor?</b>
                          <br>
                          {% if payment.long_user_description %}
                            <i>{{ payment.long_user_description }}</i>
                          {% else %}
                            <i>er is door de initiatiefnemer nog geen beschrijving van deze transactie toegevoegd</i>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
